.text {
    background-color: rgb(83, 228, 228);
    position: absolute;
    height: 80%;
    width: 50%;
    margin: 70px 0px 30px 200px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    color: green;
}